/* Styles for the home page */
body {
   /* background-image: url('https://www.shutterstock.com/image-photo/eu-modern-european-complex-apartment-600nw-1445600369.jpg'); */
    background-size: cover;
    background-position: center;
    margin: 0;
    padding: 0;
}

nav {
    background-color: rgba(0, 0, 0, 0.5); /* Add transparency */
    padding: 10px;
    position: fixed; /* Fix the navigation bar at the top */
    width: 100%; /* Full width */
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    color: #0f0e0e;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: white;
}


body {
    margin: 0;
    padding: 0;
    background-image: url("https://www.shutterstock.com/image-photo/eu-modern-european-complex-apartment-600nw-1445600369.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-repeat: no-repeat;
    
}

h2{
    color: black;
    text-align: center;
}


    

marquee {
    font-size: 24px; /* Adjust the font size as needed */
    width: 80%; /* Set the width of the marquee */

}